@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-family-montserrat {
    font-family: "Montserrat", sans-serif;
}

pre {
    padding: 1rem;
    background-color: #2a2f4f;
    color: whitesmoke;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
